<footer>
  <div class="container">
    <div
      class="row col-10 m-auto py-4 border-bot order-md-1 order-2 text-md-start text-center"
    >
      <div class="col-md-3">
        <a href="/terms" class="text-decoration-none footer-p"
          >Terms and Conditions</a
        >
      </div>
      <div class="col-md-3">
        <a href="/faq" class="text-decoration-none footer-p">FAQ</a>
      </div>
      <div class="col-md-3">
        <a href="/privacy" class="text-decoration-none footer-p"
          >Privacy Policy</a
        >
      </div>
      <div class="col-md-3">
        <a href="/contact" class="text-decoration-none footer-p">Contact Us</a>
      </div>
    </div>
    <div
      class="row col-10 m-auto pt-4 pb-3 border-bot order-md-2 order-1 text-md-start text-center"
    >
      <div class="col-md-3">
        <h5 class="pb-2">Restaurants</h5>
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Papa Johns</a
        >
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Domino's</a
        >
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Lan Yuan - Maadi</a
        >
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Hadrmout</a
        >
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Burger & Bun</a
        >
        <a
          href=""
          class="text-decoration-none d-block footer-p1 py-2 fst-italic"
          >More Restaurants...</a
        >
      </div>
      <div class="col-md-3">
        <h5 class="pb-2">Popular Cuisines</h5>
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Italian</a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Mexican</a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Sandwiches</a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Japanese</a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2">Pizza</a
        ><a
          href=""
          class="text-decoration-none d-block footer-p1 py-2 fst-italic"
          >More Cuisines...</a
        >
      </div>
      <div class="col-md-3">
        <h5 class="pb-2">Popular Areas</h5>
        <a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Masaken El Rehab </a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Mostashfa AlHommeyat </a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Salah ElDin Street</a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Shabab El Mosalas </a
        ><a href="" class="text-decoration-none d-block footer-p1 pb-2"
          >Sharea' El Khawaga</a
        ><a
          href=""
          class="text-decoration-none d-block footer-p1 py-2 fst-italic"
          >More Areas...</a
        >
      </div>
      <div class="col-md-3 border-bot-icons pb-3 h-50">
        <h5 class="pb-2">Follow us on</h5>
        <div class="row justify-content-between">
          <a
            href="https://www.facebook.com/AbdelnabyX0"
            class="text-decoration-none pe-3 col-2 footer-icons"
            ><i class="fa-brands fa-facebook-f"></i></a
          ><a
            href="https://twitter.com/AbdelnabyX0?fbclid=IwZXh0bgNhZW0CMTAAAR0_eM0vYToVK-JOzIMmnk7WGXQ9MlTdO69TbsztW1js5Atf7FFzf6ZqKzU_aem_ATYGA-kF0FvDrFOfEMCFWi4xoR3ZXTnl47cp-1YjSknbc5xASIpps9PqmMFHAbDaWdS0Cnz-zn2kLfvT3KRpPTsd"
            class="text-decoration-none pe-3 col-2 footer-icons"
            ><i class="fa-brands fa-x-twitter"></i></a
          ><a
            href="https://www.instagram.com/mahmoud.abdelnabyy/"
            class="text-decoration-none pe-3 col-2 footer-icons"
            ><i class="fa-brands fa-instagram"></i></a
          ><a
            href="https://www.linkedin.com/in/mahmoud-abdelnaby-88a85a267/"
            class="text-decoration-none pe-3 col-2 footer-icons"
            ><i class="fa-brands fa-linkedin-in"></i></a
          ><a href="" class="text-decoration-none pe-3 col-2 footer-icons"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row col-10 m-auto justify-content-between py-4">
      <div class="col-6 footer-p2">
        For any support or help you can contact us via our Live Chat
      </div>
      <div class="col-6 text-end footer-p2">©2024 Ra7tk.com</div>
    </div>
  </div>
</footer>
