<nav
  class="navbar navbar-expand-lg bg-body text-light"
  style="color: white !important"
>
  <div class="container-lg text-light">
    <a
      class="navbar-brand text-light ra7tk"
      style="font-family: mainfont; font-size: 40px"
      href="#"
      >Ra<span
        style="font-family: Arial, Helvetica, sans-serif; font-size: 30px"
        >7</span
      >tk</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse text-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            routerLink="/offers"
            >Offers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/partners">Our partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div
      class="hide collapse navbar-collapse flex-end text-center"
      id="navbarSupportedContent"
    >
      <!-- Button trigger modal -->
      <button
        type="button"
        class="mybtn2 text-end"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Login
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <button
                style="color: var(--fourthcolor) !important"
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="error col-12 m-auto" *ngIf="message">
              <div class="error__icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  viewBox="0 0 24 24"
                  height="24"
                  fill="none"
                >
                  <path
                    fill="#393a37"
                    d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"
                  ></path>
                </svg>
              </div>
              <div class="error__title">Invalid Email or Password</div>
              <div class="error__close">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  viewBox="0 0 20 20"
                  height="20"
                >
                  <path
                    fill="#393a37"
                    d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"
                  ></path>
                </svg>
              </div>
            </div>
            <h1
              class="modal-title text-center"
              style="
                color: var(--secondcolor);
                font-family: mainfont !important;
              "
              id="exampleModalLabel"
            >
              Login
            </h1>
            <div class="modal-body">
              <div
                class="row align-items-center justify-content-center m-auto text-center pb-3"
              >
                <button class="btn google text-center col-md-10">
                  <img
                    class="google-icon float-start"
                    src="../../../../assets/images/google-icon-1024x1024-hv1t7wtt.png"
                    alt=""
                  />
                  Continue with Google
                </button>
              </div>
              <div
                class="row align-items-center justify-content-center m-auto text-center pb-3"
              >
                <button class="btn facebook text-center col-md-10">
                  <img
                    class="facebook-icon float-start"
                    src="../../../../assets/images/Facebook_icon_2013.svg.png"
                    alt=""
                  />
                  Continue with Facebook
                </button>
              </div>
              <h2 class="text-center" style="font-family: mainfont !important">
                OR
              </h2>
              <div class="pb-3 col-md-10 m-auto">
                <input
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="admin.email"
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Email"
                />
              </div>
              <div class="pb-3 col-md-10 m-auto">
                <input
                  name="password"
                  #password="ngModel"
                  [(ngModel)]="admin.password"
                  type="password"
                  id="inputPassword5"
                  class="form-control"
                  aria-describedby="passwordHelpBlock"
                  placeholder="Password"
                />
              </div>
              <div class="col-md-10 m-auto">
                <a href="" class="text-decoration-none" style="color: white"
                  >Forgot password?</a
                >
              </div>
            </div>
            <div class="modal-footer justify-content-center pb-5">
              <button
                type="button"
                (click)="login()"
                class="mybtn col-md-10 col-12"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
