<app-navbar></app-navbar>
<div class="container py-4 my-4">
  <div class="row justify-content-between">
    <div class="col-md-5 text-md-start text-center pb-5 trans-right">
      <h1 class="pt-5">Contact Us</h1>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        delectus, autem distinctio ab laborum quasi, aut optio voluptatem nulla
        dicta labore magnam cumque ratione repudiandae mollitia veniam deserunt
        earum. Nulla.
      </p>
      <div class="col-12 pb-3">
        <i class="fa-solid fa-location-dot" style="color: var(--maincolor)"></i>
        <span class="fw-bold"> Lorem ipsum dolor sit amet.</span>
      </div>
      <div class="col-12 pb-3">
        <i class="fa-solid fa-at" style="color: var(--maincolor)"></i>
        <span class="fw-bold"> info@ra7tak.com</span>
      </div>
      <div class="col-12 pb-5">
        <i class="fa-solid fa-phone" style="color: var(--maincolor)"></i>
        <span class="fw-bold"> +201029974804</span>
      </div>
    </div>
    <div class="col-md-5 border-y trans-left">
      <form>
        <label class="form-label fw-bold pt-4">Name</label>
        <input type="text" class="form-control" placeholder="full name" />
        <label class="form-label fw-bold pt-3">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="example@example.com"
        />
        <label for="exampleFormControlTextarea1" class="form-label fw-bold pt-3"
          >Message</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="6"
          placeholder="details of what you're looking for..."
        ></textarea>
        <button type="submit" class="mybtn w-100 py-3 my-3">
          Send message
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
