<admin-navbar></admin-navbar>
<div
  class="col-8 m-auto row align-items-center justify-content-center bg-bord pb-4 px-0"
>
  <div class="bggg row justify-content-center">
    <div class="col-md-6 col-10 pb-2 pt-3 text-start-md text-center">
      <h5 class="fw-bold">ACTIVE ORDER:</h5>
      <h6 style="font-size: 25px"># 12000</h6>
    </div>
    <div class="col-md-6 text-md-end text-center pt-3">
      <h5 class="fw-bold">TIME LEFT:</h5>
      <p class="time-font">09:12</p>
    </div>
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-center mb-4">
    <img
      src="../../../../assets/images/grill chicken.webp"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-sm-start text-center pb-2">
    <h6>Chicken Grill</h6>
    <p style="font-size: 14px">Lorem ipsum dolor sit.</p>
  </div>
  <div class="col-sm-2 text-lg-end text-center pb-2">
    <h6 class="fw-bold">$ 120.00</h6>
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-center mb-4">
    <img
      src="../../../../assets/images/grill chicken.webp"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-sm-start text-center pb-2">
    <h6>Avo Corlette</h6>
    <p style="font-size: 14px">Lorem ipsum dolor sit.</p>
  </div>
  <div class="col-sm-2 text-lg-end text-center pb-2">
    <h6 class="fw-bold">$ 120.00</h6>
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-center mb-4">
    <img
      src="../../../../assets/images/grill chicken.webp"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-sm-start text-center pb-2">
    <h6>Avo Corlette</h6>
    <p style="font-size: 14px">Lorem ipsum dolor sit.</p>
  </div>
  <div class="col-sm-2 text-lg-end text-center pb-2">
    <h6 class="fw-bold">$ 120.00</h6>
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-center mb-4">
    <img
      src="../../../../assets/images/grill chicken.webp"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-sm-start text-center pb-2">
    <h6>Avo Corlette</h6>
    <p style="font-size: 14px">Lorem ipsum dolor sit.</p>
  </div>
  <div class="col-sm-2 text-lg-end text-center pb-2">
    <h6 class="fw-bold">$ 120.00</h6>
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-center mb-4">
    <img
      src="../../../../assets/images/grill chicken.webp"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-sm-start text-center pb-2">
    <h6>Avo Corlette</h6>
    <p style="font-size: 14px">Lorem ipsum dolor sit.</p>
  </div>
  <div class="col-sm-2 text-lg-end text-center pb-2">
    <h6 class="fw-bold">$ 120.00</h6>
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-center mb-4">
    <img
      src="../../../../assets/images/grill chicken.webp"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="col-lg-2 col-sm-8 col-10 text-sm-start text-center pb-2">
    <h6>Avo Corlette</h6>
    <p style="font-size: 14px">Lorem ipsum dolor sit.</p>
  </div>
  <div class="col-sm-2 text-lg-end text-center pb-2">
    <h6 class="fw-bold">$ 120.00</h6>
  </div>
  <div class="col-sm-3 col-10 pt-5 text-center">
    <a href="" class="text-decoration-none text-dark">
      <i class="fa-solid fa-ellipsis-vertical vert-bg"></i>
    </a>
  </div>
  <div class="col-sm-9 col-10 pt-5 text-center">
    <div class="btn btn-dark col-10 rounded-pill py-3">
      Done <i class="fa-solid fa-check ps-2"></i>
    </div>
  </div>
</div>
