<app-navbar></app-navbar>
<div class="container box py-4 my-4">
  <h1 class="py-4">Frequently Asked Questions (FAQ)</h1>
  <div class="accordion pt-4" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Do you have Debit Card/Credit Card services?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
          itaque rem voluptas! Beatae a quasi inventore, officia iure et, nam,
          veniam impedit sequi repellat optio necessitatibus placeat dicta
          quidem autem? Omnis dolor earum, nam sapiente harum ipsum aspernatur
          distinctio, voluptate cumque provident rerum ipsa exercitationem
          blanditiis. Nobis error quasi rerum sed neque, eum aperiam deserunt
          ipsa quisquam. Ad cumque autem at, delectus consequatur quisquam
          debitis. Alias commodi deleniti recusandae iusto blanditiis hic.
          Dolorem voluptatem hic rerum sequi ad, earum consectetur facilis
          suscipit laudantium eaque quaerat eum impedit corrupti cupiditate
          dicta eligendi quod qui aliquid. Sequi aspernatur consectetur
          cupiditate molestias quidem?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsenine"
          aria-expanded="false"
          aria-controls="collapsenine"
        >
          Do you have special offers?
        </button>
      </h2>
      <div
        id="collapsenine"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
          itaque rem voluptas! Beatae a quasi inventore, officia iure et, nam,
          veniam impedit sequi repellat optio necessitatibus placeat dicta
          quidem autem? Omnis dolor earum, nam sapiente harum ipsum aspernatur
          distinctio, voluptate cumque provident rerum ipsa exercitationem
          blanditiis. Nobis error quasi rerum sed neque, eum aperiam deserunt
          ipsa quisquam. Ad cumque autem at, delectus consequatur quisquam
          debitis. Alias commodi deleniti recusandae iusto blanditiis hic.
          Dolorem voluptatem hic rerum sequi ad, earum consectetur facilis
          suscipit laudantium eaque quaerat eum impedit corrupti cupiditate
          dicta eligendi quod qui aliquid. Sequi aspernatur consectetur
          cupiditate molestias quidem?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseseven"
          aria-expanded="false"
          aria-controls="collapseseven"
        >
          Can I make a payment online in a foreign currency?
        </button>
      </h2>
      <div
        id="collapseseven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
          itaque rem voluptas! Beatae a quasi inventore, officia iure et, nam,
          veniam impedit sequi repellat optio necessitatibus placeat dicta
          quidem autem? Omnis dolor earum, nam sapiente harum ipsum aspernatur
          distinctio, voluptate cumque provident rerum ipsa exercitationem
          blanditiis. Nobis error quasi rerum sed neque, eum aperiam deserunt
          ipsa quisquam. Ad cumque autem at, delectus consequatur quisquam
          debitis. Alias commodi deleniti recusandae iusto blanditiis hic.
          Dolorem voluptatem hic rerum sequi ad, earum consectetur facilis
          suscipit laudantium eaque quaerat eum impedit corrupti cupiditate
          dicta eligendi quod qui aliquid. Sequi aspernatur consectetur
          cupiditate molestias quidem?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseeight"
          aria-expanded="false"
          aria-controls="collapseeight"
        >
          I entered my email/password combination wrong and now my account is
          blocked, what do I do?
        </button>
      </h2>
      <div
        id="collapseeight"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
          itaque rem voluptas! Beatae a quasi inventore, officia iure et, nam,
          veniam impedit sequi repellat optio necessitatibus placeat dicta
          quidem autem? Omnis dolor earum, nam sapiente harum ipsum aspernatur
          distinctio, voluptate cumque provident rerum ipsa exercitationem
          blanditiis. Nobis error quasi rerum sed neque, eum aperiam deserunt
          ipsa quisquam. Ad cumque autem at, delectus consequatur quisquam
          debitis. Alias commodi deleniti recusandae iusto blanditiis hic.
          Dolorem voluptatem hic rerum sequi ad, earum consectetur facilis
          suscipit laudantium eaque quaerat eum impedit corrupti cupiditate
          dicta eligendi quod qui aliquid. Sequi aspernatur consectetur
          cupiditate molestias quidem?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          I paid online and then my order was cancelled. How long will it take
          for my online payment to be refunded?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
          reprehenderit, voluptatibus libero molestias ducimus dolor sunt vero,
          ipsum, harum quibusdam unde ullam doloribus. Temporibus unde ut
          ducimus iste laudantium sit laboriosam illo libero enim veritatis
          deserunt dolorum facere atque iure natus distinctio eos dolor magnam
          voluptate, nemo nam. Maiores vitae eum maxime, autem, accusamus porro
          provident id odio cupiditate nemo aut expedita doloribus, molestiae
          reprehenderit recusandae culpa? Recusandae tempore aperiam explicabo,
          harum atque placeat porro mollitia vel sequi quod nemo deleniti
          necessitatibus, ullam neque dicta exercitationem, blanditiis magni
          quasi obcaecati. Placeat eos ab consectetur tempora autem illum vel
          neque molestiae?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          If I placed an order, how long does it take to receive the order?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, ullam
          excepturi placeat vitae harum inventore voluptas assumenda! Earum ad
          asperiores dolorum et facilis ducimus possimus reprehenderit labore
          laboriosam, hic debitis expedita alias ipsam quod unde, quos aperiam
          ex? Blanditiis, voluptatum obcaecati ad iusto voluptatibus tempora
          odio alias officia, deleniti recusandae consequuntur aut explicabo
          cupiditate nisi earum? Delectus, eaque modi. Itaque numquam neque ea
          fugiat asperiores facilis porro commodi, assumenda vero quas sit
          impedit qui minus modi harum sunt repellendus labore cum placeat nihil
          natus nemo praesentium. Amet, laborum. Velit quae atque deserunt
          reiciendis rerum fugiat accusantium iure sed ad delectus!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsefour"
          aria-expanded="false"
          aria-controls="collapsefour"
        >
          How can I cancel my order?
        </button>
      </h2>
      <div
        id="collapsefour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque odit
          quibusdam amet laboriosam unde veniam quisquam facilis error atque.
          Deleniti maxime, ut ea distinctio maiores a, tempore facere aliquam,
          impedit eos necessitatibus illo! Alias accusamus optio sapiente quis
          fugit, qui eveniet, doloremque maxime, itaque nihil quisquam iste
          natus totam excepturi earum? Et voluptates, incidunt magni nam,
          ratione rerum quis explicabo quod quibusdam exercitationem voluptatum
          quaerat iure tenetur sint suscipit natus officia, fugit odio
          blanditiis consectetur ab! Magnam atque inventore minus earum eaque
          labore molestiae consequuntur error voluptatum. Quis architecto iusto
          excepturi reiciendis consequuntur labore impedit doloribus? Esse est
          voluptate consectetur.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsefive"
          aria-expanded="false"
          aria-controls="collapsefive"
        >
          What do the icons on your website and mobile app mean?
        </button>
      </h2>
      <div
        id="collapsefive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut,
          doloribus harum voluptate consequuntur laborum quae explicabo
          blanditiis. Totam voluptate pariatur necessitatibus ratione, rem et
          magnam sit omnis vel suscipit aliquid quam. Dolor recusandae veritatis
          sint cumque facere porro. Vel voluptas adipisci consequatur. Nesciunt
          cumque enim dolore consequatur at quisquam rem fugit eaque et aliquid
          culpa quasi animi qui incidunt harum quas, sapiente repudiandae
          doloremque officiis deleniti cupiditate recusandae, dolorem voluptas
          doloribus. Quaerat rem placeat odit repudiandae quis libero quos harum
          ducimus consequatur? Distinctio provident optio, ducimus, voluptates
          pariatur culpa amet iure id deleniti adipisci, at quasi. Enim repellat
          architecto sunt?
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsesix"
          aria-expanded="false"
          aria-controls="collapsesix"
        >
          I just placed an order, but I’m not sure if you got it. What do I do?
        </button>
      </h2>
      <div
        id="collapsesix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facere
          molestiae quis incidunt rem unde corrupti eos dolorum. Officia vitae,
          minus odit voluptate architecto fugiat quia fugit vero eveniet
          veritatis, hic quidem nostrum corporis aut aperiam, optio voluptates
          velit repellendus deleniti illum. Eius obcaecati excepturi architecto
          deleniti aliquam dolores, ut repellat temporibus aspernatur distinctio
          veniam laudantium facere ipsum quam possimus nesciunt optio ullam
          sapiente consequatur minima, nulla soluta. Quas optio dolore quaerat
          asperiores error, ipsam consectetur nihil voluptatum consequatur,
          minus eius vitae culpa in reprehenderit voluptates inventore. Totam
          quo cum eligendi saepe libero! Ut numquam delectus at eum, voluptates
          illum?
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
